@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

body {
  line-height: 0;
  font-family: "Libre Baskerville", serif;
  background-color: rgba(1, 36, 1, 0.952);
}

.myCard {
  height: 400px;
  border-radius: 15px;
}

.iconTopLefth,
.iconBottomRigth {
  height: 20px;
}

.iconBottomRigth {
  margin-top: -2rem;
}

.cardValue {
  height: 280px;
  margin-top: -20px;
}

i {
  font-size: 70px;
}
